@media (max-width : 600px){

    .hero-sec {
        height: 48vh;
    }

    .back-video {   
        object-fit: cover;
    }

    nav {
        height: 20%;
        padding: 0 1rem;
        display: flex;
        flex-direction: row;
        
    }

    .nav-mbl {
        display: block;
    }

    .nav-left { 
        display: flex;
        flex-direction: column;
    }

    .nav-left .logo {
        width: 122px;
        height: 55px;
    }

    .nav-left p {
        font-size: 0.75rem;
        font-weight: 500;
        gap: -10px;
    }

    .nav-mbl-2 {
        display: block;
    }

    .nav-right {
        display: none;
    }

    
    /* hero section  */
    .section-two {
        
    }

    h1 {
        padding-left: 18px;
        padding-right: 22px;
        padding-bottom: 10px;
        font-size: 1.5rem;
        font-weight: 800;
        line-height: 1.32;
        letter-spacing: 1.5px;
    }                

    .search {
        margin-top: 10px;
        padding-left: 0px;
        padding-right: 42px;
        
        display: flex;
        flex-direction: row;
        
        justify-content: center;
    }

    .search input {
        height: 45px;
        font-size: 1.5rem;
    }

    .search i {
        height: 45px;
        font-size: 1.5rem;
        padding-top: 10px;
    }

    
    /* section three */
    .section-three {
        margin-top: 20px;
        height: 40vh;
        width: 100%;
        padding-left: 0px;
        display: flex;
        flex-direction: column;
    }

    .sec3-two img {
        display: none;
    }
    
    
    .sec3-one h1{
        margin-top: 30px;

        width: 70%;
        font-size: 1.3rem;
        
    }

    .sec3-one p {
        width: 58%;
        line-height: 1.4;
        font-weight: 400;
    }

    .sec3-one .btn {
        width: 40%;
    }

    /* section four */

}